In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
matplotlib.style.use('ggplot')

import requests

In [2]:
# specify data directory and file
data_dir = '/srv/zooniverse/raw_data/panoptes/all-panoptes-classifications-2017-01-30.csv'
# read csv file of classifications
classification_df = pd.read_csv(data_dir)
# create a project dataframe that contains the total number of classifications per project
project_df = classification_df.groupby('project_id').size().to_frame('total_classifications')

/home/sjm668/dev/zooniverse/src/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
project_df = project_df.reset_index()

In [41]:
base_url = r'https://panoptes-staging.zooniverse.org/api/projects'
headers = {
    'Accept':'application/vnd.api+json; version=1',
    'Content-Type':'application/json'
}
params = {}
api_result_df = pd.DataFrame()
while True:
    r = requests.get(base_url,
                    params=params,
                    headers=headers)
    api_result = r.json()
    for project in api_result['projects']:
        api_result_df = api_result_df.append(pd.DataFrame([{
            'project_id':project['id'],
            'project_name':project['display_name']
        }]))
    
    if api_result['meta']['projects']['next_href']:
        params['page'] = api_result['meta']['projects']['next_href'][-1:]
        print(api_result['meta']['projects']['next_href'][-1:])
    else:
        break
api_result_df['project_id'] = pd.to_numeric(api_result_df['project_id'])

2
3
4
5
6
7
8

In [43]:
# project names included in both classification results and API
dump_api_project_overlap = api_result_df.loc[api_result_df['project_id'].isin(project_df['project_id'])]

In [44]:
# number of projects included in both classification dump and API results
len(api_result_df.loc[api_result_df['project_id'].isin(project_df['project_id'])])

34

In [45]:
dump_api_project_overlap = dump_api_project_overlap.merge(project_df,on='project_id')

In [46]:
dump_api_project_overlap

    project_id                   project_name  total_classifications
0          519              Seafloor Explorer                      6
1          526              Notes from Nature                     83
2          520                 Cyclone Center                      7
3          517                      SETI Live                     11
4          522                    Cell Slider                    140
5          400          Season Spotter Test31                    122
6         1616    workflow-assignment-testing                    329
7           96         NOT Snapshot Supernova                     53
8          512      Old Weather (NOT CURRENT)                      8
9          530                Plankton Portal                      2
10         525                    Planet Four                     41
11         902             Oxyrhynchus Papyri                      3
12         396       Rescue Global Nepal 2015                   6040
13         514                  Ancient Lives                      6
14         524             Snapshot Serengeti                     15
15         518               What's The Score                    189
16        1315            Intro2Astro Testing                      1
17         631                  Fossil Finder                    958
18         529                 Worm Watch Lab                     58
19         513                    Ice Hunters                     39
20         527                    Space Warps                     43
21        1626  Home-Page-Test Planet Hunters                  18867
22         507               Solar Stormwatch                    187
23         404   Season Spotter DETAILS Test1                    103
24         547                     MY PROJECT                      5
25         515                          NEEMO                     10
26        1683                    Etch a Cell                     33
27         376          Season Spotter Test25                 101863
28         405     Season Spotter BASIC Beta1                    499
29         509         Galaxy Zoo - Supernova                      6
30         353          Season Spotter Test15                     27
31         516                       Whale FM                      8
32         536                   Condor Watch                     53
33         523              Andromeda Project                     79

In [51]:
classification_df.loc[classification_df['project_id'] == 376]

,id,project_id,user_id,workflow_id,annotations,created_at,user_group_id,completed,gold_standard,expert_classifier,metadata,workflow_version,lifecycled_at
7542,10039982,376,429088.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-22 15:50:06.331265,2016-02-22 15:50:06.394891,t,NaN,NaN,"{""started_at"": ""2016-02-22T15:40:59+00:00"", ""u...",10.14,2016-02-22 15:50:06.386525
9130,9201103,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-14 23:00:59.02662,2016-01-14 23:00:59.066003,t,NaN,NaN,"{""started_at"": ""2016-01-14T23:00:50+00:00"", ""u...",10.14,2016-01-14 23:00:59.060559
9488,16586105,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-09-02 15:29:53.516373,2016-09-02 15:29:53.611471,t,NaN,NaN,"{""started_at"": ""2016-09-02T08:33:54-05:00"", ""u...",10.14,2016-09-02 15:29:53.601631
9495,9201087,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 23:00:49.684417,2016-01-14 23:00:49.750928,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:53:10+00:00"", ""u...",10.14,2016-01-14 23:00:49.742751
11824,10865263,376,1872.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-28 23:58:42.999494,2016-03-28 23:58:43.111937,t,NaN,NaN,"{""started_at"": ""2016-03-29T00:13:11+01:00"", ""u...",10.14,2016-03-28 23:58:43.098303
14989,7038566,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-13 13:38:02.659125,2016-01-13 13:38:22.765964,t,NaN,NaN,"{""started_at"": ""2016-01-13T13:37:56+00:00"", ""u...",10.14,2016-01-13 13:38:22.760548
17852,7038448,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:37:56.125778,2016-01-13 13:38:16.740468,t,NaN,NaN,"{""started_at"": ""2016-01-13T13:37:09+00:00"", ""u...",10.14,2016-01-13 13:38:16.731273
25411,7040252,376,184141.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:39:38.419139,2016-01-13 13:39:39.900211,t,NaN,NaN,"{""started_at"": ""2016-01-13T07:39:14-05:00"", ""u...",10.14,2016-01-13 13:39:39.878809
31745,11738394,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-04-27 01:57:26.641504,2016-04-27 01:57:26.716699,t,NaN,NaN,"{""started_at"": ""2016-04-26T21:57:16-04:00"", ""u...",10.14,2016-04-27 01:57:26.701854
35214,12943503,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:07:25.413415,2016-06-02 16:07:25.46284,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:06:52-05:00"", ""u...",10.14,2016-06-02 16:07:25.458171
41917,12943526,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:09:11.919586,2016-06-02 16:09:11.96943,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:09:03-05:00"", ""u...",10.14,2016-06-02 16:09:11.956109
42738,12943518,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:08:29.877669,2016-06-02 16:08:29.955093,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:08:13-05:00"", ""u...",10.14,2016-06-02 16:08:29.940036
55636,10257157,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-02 22:33:53.106877,2016-03-02 22:33:53.21614,t,NaN,NaN,"{""started_at"": ""2016-03-02T22:12:36+00:00"", ""u...",10.14,2016-03-02 22:33:53.207215
76561,10117800,376,520397.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-26 06:43:58.39252,2016-02-26 06:43:58.457163,t,NaN,NaN,"{""started_at"": ""2016-02-26T17:06:35+11:00"", ""u...",10.14,2016-02-26 06:43:58.450169
78470,9201890,376,360364.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 23:07:44.384984,2016-01-14 23:07:44.455192,t,NaN,NaN,"{""started_at"": ""2016-01-14T14:54:07-08:00"", ""u...",10.14,2016-01-14 23:07:44.44595
80956,10266368,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 14:01:22.521425,2016-03-03 14:01:22.582668,t,NaN,NaN,"{""started_at"": ""2016-03-03T14:01:18+00:00"", ""u...",10.14,2016-03-03 14:01:22.578242
88703,7040702,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:40:02.517367,2016-01-13 13:40:03.635096,t,NaN,NaN,"{""started_at"": ""2016-01-13T13:39:33+00:00"", ""u...",10.14,2016-01-13 13:40:03.627494
94206,10276090,376,448862.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 18:56:19.815758,2016-03-03 18:56:19.865018,t,NaN,NaN,"{""started_at"": ""2016-03-03T10:08:57-06:00"", ""u...",10.14,2016-03-03 18:56:19.852496
97796,12944047,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:37:42.440091,2016-06-02 16:37:42.47908,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:37:30-05:00"", ""u...",10.14,2016-06-02 16:37:42.474381
102126,10294521,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:57:00.536466,2016-03-04 15:57:00.556995,t,NaN,NaN,"{""started_at"": ""2016-03-02T11:19:56-05:00"", ""u...",10.14,2016-03-04 15:57:00.552524
102137,10294532,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:57:43.885261,2016-03-04 15:57:43.968032,t,NaN,NaN,"{""started_at"": ""2016-03-04T15:25:00+00:00"", ""u...",10.14,2016-03-04 15:57:43.951035
104902,11117699,376,1462825.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-08 21:14:39.802299,2016-04-08 21:14:39.973018,t,NaN,NaN,"{""started_at"": ""2016-04-08T23:07:47+02:00"", ""u...",10.14,2016-04-08 21:14:39.941049
111918,10127602,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-26 17:41:48.559938,2016-02-26 17:41:48.592424,t,NaN,NaN,"{""started_at"": ""2016-02-26T17:42:44+00:00"", ""u...",10.14,2016-02-26 17:41:48.587814
112045,10155436,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-28 06:37:00.086328,2016-02-28 06:37:00.107956,t,NaN,NaN,"{""started_at"": ""2016-02-27T21:36:15-09:00"", ""u...",10.14,2016-02-28 06:37:00.102719
112313,10127675,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-02-26 17:45:12.012751,2016-02-26 17:45:12.045193,t,NaN,NaN,"{""started_at"": ""2016-02-26T17:46:29+00:00"", ""u...",10.14,2016-02-26 17:45:12.040049
119559,7041710,376,184141.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:40:52.896537,2016-01-13 13:40:54.349815,t,NaN,NaN,"{""started_at"": ""2016-01-13T08:39:45-05:00"", ""u...",10.14,2016-01-13 13:40:54.341884
120094,10263001,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 06:21:31.669375,2016-03-03 06:21:31.700283,t,NaN,NaN,"{""started_at"": ""2016-03-03T19:21:23+13:00"", ""u...",10.14,2016-03-03 06:21:31.695675
121174,10263021,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 06:22:57.12533,2016-03-03 06:22:57.152247,t,NaN,NaN,"{""started_at"": ""2016-03-03T19:21:54+13:00"", ""u...",10.14,2016-03-03 06:22:57.147672
121866,11260154,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-13 10:44:02.342709,2016-04-13 10:44:02.411767,t,NaN,NaN,"{""started_at"": ""2016-04-12T12:53:04+01:00"", ""u...",10.14,2016-04-13 10:44:02.39304
123191,6299120,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-12 23:21:37.370801,2016-01-12 23:21:37.425802,t,NaN,NaN,"{""started_at"": ""2016-01-12T23:17:16+00:00"", ""u...",10.14,2016-01-12 23:21:37.418013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26022212,10199248,376,864372.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 22:46:36.183743,2016-02-29 22:46:36.223542,t,NaN,NaN,"{""started_at"": ""2016-02-29T22:46:01+00:00"", ""u...",10.14,2016-02-29 22:46:36.219049
26023067,10199328,376,864372.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 22:48:52.285014,2016-02-29 22:48:52.338874,t,NaN,NaN,"{""started_at"": ""2016-02-29T22:48:04+00:00"", ""u...",10.14,2016-02-29 22:48:52.334431
26026389,11066414,376,401976.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-06 23:38:48.944979,2016-04-06 23:38:49.003417,t,NaN,NaN,"{""started_at"": ""2016-04-06T18:38:03-05:00"", ""u...",10.14,2016-04-06 23:38:48.998709
26028162,10039995,376,429088.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-22 15:50:37.40907,2016-02-22 15:50:37.454681,t,NaN,NaN,"{""started_at"": ""2016-02-22T15:50:10+00:00"", ""u...",10.14,2016-02-22 15:50:37.449259
26030238,10039132,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-22 14:15:57.852145,2016-02-22 14:15:57.895975,t,NaN,NaN,"{""started_at"": ""2016-02-22T08:13:04-06:00"", ""u...",10.14,2016-02-22 14:15:57.890734
26038568,6164746,376,1423659.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-12 22:08:19.647734,2016-01-12 22:08:20.632179,t,NaN,NaN,"{""started_at"": ""2016-01-12T17:12:13+13:00"", ""u...",10.14,2016-01-12 22:08:20.49098
26056661,10859273,376,637593.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-28 17:30:52.837791,2016-03-28 17:30:52.942615,t,NaN,NaN,"{""started_at"": ""2016-03-28T18:17:16+01:00"", ""u...",10.14,2016-03-28 17:30:52.930947
26060336,11146551,376,1872.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-09 20:41:36.675456,2016-04-09 20:41:36.735472,t,NaN,NaN,"{""started_at"": ""2016-04-09T21:40:33+01:00"", ""u...",10.14,2016-04-09 20:41:36.72977
26061494,10199798,376,864372.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 23:03:31.434147,2016-02-29 23:03:31.476871,t,NaN,NaN,"{""started_at"": ""2016-02-29T23:02:44+00:00"", ""u...",10.14,2016-02-29 23:03:31.472261
26061598,9200301,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 22:53:55.510993,2016-01-14 22:53:55.546067,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:32:04+00:00"", ""u...",10.14,2016-01-14 22:53:55.541042
26064641,6178406,376,322786.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-12 22:17:11.315386,2016-01-12 22:17:56.122625,t,NaN,NaN,"{""started_at"": ""2016-01-08T09:52:27+00:00"", ""u...",10.14,2016-01-12 22:17:55.993353
26065067,10510784,376,352990.0,205,"[{""task"": ""T0"", ""value"": true}]",2016-03-13 13:49:24.382573,2016-03-13 13:49:24.435829,t,NaN,NaN,"{""started_at"": ""2016-03-13T13:48:49+00:00"", ""u...",10.14,2016-03-13 13:49:24.430205
26066591,9200345,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-14 22:54:14.289644,2016-01-14 22:54:14.343538,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:54:08+00:00"", ""u...",10.14,2016-01-14 22:54:14.338183
26067607,9200327,376,360364.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 22:54:05.284161,2016-01-14 22:54:05.351707,t,NaN,NaN,"{""started_at"": ""2016-01-14T14:38:47-08:00"", ""u...",10.14,2016-01-14 22:54:05.342218
26067629,9200328,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-14 22:54:06.780179,2016-01-14 22:54:06.852938,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:53:57+00:00"", ""u...",10.14,2016-01-14 22:54:06.847266
26071595,9201390,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 23:03:38.091743,2016-01-14 23:03:38.150129,t,NaN,NaN,"{""started_at"": ""2016-01-14T16:05:52+00:00"", ""u...",10.14,2016-01-14 23:03:38.139097
26084187,9200849,376,1312.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 22:58:55.423551,2016-01-14 22:58:55.467775,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:46:14+00:00"", ""u...",10.14,2016-01-14 22:58:55.462687
26087984,6742696,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 07:44:06.098025,2016-01-13 07:44:06.147847,t,NaN,NaN,"{""started_at"": ""2016-01-13T15:43:48+08:00"", ""u...",10.14,2016-01-13 07:44:06.141493
26091284,10870366,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-29 09:02:06.704824,2016-03-29 09:02:06.771395,t,NaN,NaN,"{""started_at"": ""2016-03-29T10:01:27+01:00"", ""u...",10.14,2016-03-29 09:02:06.765609
26095100,6742751,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 07:44:18.425844,2016-01-13 07:44:18.461651,t,NaN,NaN,"{""started_at"": ""2016-01-13T15:44:08+08:00"", ""u...",10.14,2016-01-13 07:44:18.457071
26099076,7037554,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:37:09.455177,2016-01-13 13:37:09.796743,t,NaN,NaN,"{""started_at"": ""2016-01-13T12:58:58+00:00"", ""u...",10.14,2016-01-13 13:37:09.78835
26099440,10177080,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 07:51:01.763992,2016-02-29 07:51:01.867029,t,NaN,NaN,"{""started_at"": ""2016-02-29T07:50:56+00:00"", ""u...",10.14,2016-02-29 07:51:01.848602
26100805,10177195,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 08:00:00.847193,2016-02-29 08:00:00.903271,t,NaN,NaN,"{""started_at"": ""2016-02-29T07:59:26+00:00"", ""u...",10.14,2016-02-29 08:00:00.898485
26101336,10177838,376,539625.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 09:17:30.048889,2016-02-29 09:17:30.159581,t,NaN,NaN,"{""started_at"": ""2016-02-29T19:25:33+11:00"", ""u...",10.14,2016-02-29 09:17:30.140565
26103512,11113639,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-08 19:48:02.672252,2016-04-08 19:48:02.724346,t,NaN,NaN,"{""started_at"": ""2016-04-08T14:45:19-05:00"", ""u...",10.14,2016-04-08 19:48:02.718015
26104249,6742586,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 07:43:45.461266,2016-01-13 07:43:45.497171,t,NaN,NaN,"{""started_at"": ""2016-01-13T15:36:03+08:00"", ""u...",10.14,2016-01-13 07:43:45.492112
26107730,15016395,376,720118.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-08-08 13:32:26.657395,2016-08-08 13:32:26.721172,t,NaN,NaN,"{""started_at"": ""2016-08-08T14:30:21+01:00"", ""u...",10.14,2016-08-08 13:32:26.715171
26108601,10294539,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:58:00.347315,2016-03-04 15:58:00.466559,t,NaN,NaN,"{""started_at"": ""2016-03-04T15:57:52+00:00"", ""u...",10.14,2016-03-04 15:58:00.46193
26110437,10294576,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:59:23.566605,2016-03-04 15:59:23.598129,t,NaN,NaN,"{""started_at"": ""2016-03-04T15:59:20+00:00"", ""u...",10.14,2016-03-04 15:59:23.593518
26112789,12232060,376,832664.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-05-13 20:53:57.964942,2016-05-13 20:53:58.061066,t,NaN,NaN,"{""started_at"": ""2016-05-13T22:52:41+02:00"", ""u...",10.14,2016-05-13 20:53:58.053732

In [52]:
len(api_result_df)

143