In [20]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
matplotlib.style.use('ggplot')

import requests
import json

In [2]:
# specify data directory and file
data_dir = '/srv/zooniverse/raw_data/panoptes/all-panoptes-classifications-2017-01-30.csv'
# read csv file of classifications
classification_df = pd.read_csv(data_dir)
# create a project dataframe that contains the total number of classifications per project
project_df = classification_df.groupby('project_id').size().to_frame('total_classifications')

/home/sjm668/dev/zooniverse/src/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
project_df = project_df.reset_index()

In [28]:
base_url = r'https://panoptes.zooniverse.org/api/projects'
headers = {
    'Accept':'application/vnd.api+json; version=1',
    'Content-Type':'application/json'
}
params = {}
api_result_df = pd.DataFrame()
while True:
    r = requests.get(base_url,
                    params=params,
                    headers=headers)
    api_result = r.json()
    #print(json.dumps(api_result, indent=2))
    #break
    for project in api_result['projects']:
        api_result_df = api_result_df.append(pd.DataFrame([{
            'project_id':project['id'],
            'project_name':project['display_name'],
            'migrated':project['migrated'],
            'description':project['description'],
            'live':project['live'],
            'launch_date':project['launch_date'],
            'completeness':project['completeness'],
            'api_subject_count':project['subjects_count'],
            'api_classificaitons_count':project['classifiers_count']
        }]))
    
    if api_result['meta']['projects']['next_href']:
        params['page'] = api_result['meta']['projects']['next_href'].split('=')[-1]
        print(api_result['meta']['projects']['next_href'])
    else:
        break
api_result_df['project_id'] = pd.to_numeric(api_result_df['project_id'])

/projects?page=2
/projects?page=3
/projects?page=4
/projects?page=5
/projects?page=6
/projects?page=7
/projects?page=8
/projects?page=9
/projects?page=10
/projects?page=11
/projects?page=12
/projects?page=13
/projects?page=14
/projects?page=15
/projects?page=16
/projects?page=17
/projects?page=18
/projects?page=19
/projects?page=20
/projects?page=21
/projects?page=22
/projects?page=23
/projects?page=24
/projects?page=25

In [6]:
# project names included in both classification results and API
dump_api_project_overlap = api_result_df.loc[api_result_df['project_id'].isin(project_df['project_id'])]

In [7]:
len(api_result_df['project_name'].unique())

368

In [8]:
len(api_result_df['project_id'].unique())

372

In [9]:
# number of projects included in both classification dump and API results
len(api_result_df.loc[api_result_df['project_id'].isin(project_df['project_id'])])

311

In [10]:
# number of unique projects included in both classification dump and API results
len(api_result_df.loc[api_result_df['project_id'].isin(project_df['project_id'])]['project_id'].unique())

234

In [30]:
dump_api_project_overlap = dump_api_project_overlap.merge(project_df,on='project_id',how='outer')

In [31]:
dump_api_project_overlap

,project_id,project_name,total_classifications_x,total_classifications_y
0,4,Kitteh Zoo,4412.0,4412
1,4,Kitteh Zoo,4412.0,4412
2,17,Planet Four: Terrains,929108.0,929108
3,1,Snapshot Supernova,2021860.0,2021860
4,1,Snapshot Supernova,2021860.0,2021860
5,6,Wildebeest Watch,109756.0,109756
6,20,Monopole Quest!,2542.0,2542
7,3,Galaxy Zoo: Bar Lengths,319598.0,319598
8,3,Galaxy Zoo: Bar Lengths,319598.0,319598
9,11,Whales as Individuals,286871.0,286871
10,14,Snapshots at Sea,964639.0,964639
11,14,Snapshots at Sea,964639.0,964639
12,10,GZ2Redo--Take2!,9660.0,9660
13,75,Colorado Corridors Project,27912.0,27912
14,75,Colorado Corridors Project,27912.0,27912
15,62,CERN@school: Particle ID 101,71.0,71
16,79,Manuscript Adventure,205.0,205
17,67,Whatever the Space Weather,74.0,74
18,74,Galaxy Zoo for Schools Outreach,10136.0,10136
19,78,Digital Skies,4.0,4
20,78,Digital Skies,4.0,4
21,96,Prettiest Pugs,53.0,53
22,96,Prettiest Pugs,53.0,53
23,94,MaNGA Quality Control Inspection,169.0,169
24,73,Galaxy Zoo: 3D,47537.0,47537
25,73,Galaxy Zoo: 3D,47537.0,47537
26,292,Protein Picker,3480.0,3480
27,245,AnnoTate,130080.0,130080
28,245,AnnoTate,130080.0,130080
29,347,Season Spotter Questions,194017.0,194017
...,...,...,...,...
797,3682,NaN,NaN,11
798,3683,NaN,NaN,3
799,3684,NaN,NaN,5
800,3685,NaN,NaN,34
801,3686,NaN,NaN,18
802,3688,NaN,NaN,14
803,3693,NaN,NaN,2
804,3699,NaN,NaN,11
805,3705,NaN,NaN,6012
806,3706,NaN,NaN,37
807,3718,NaN,NaN,3
808,3719,NaN,NaN,3
809,3724,NaN,NaN,3
810,3730,NaN,NaN,7
811,3732,NaN,NaN,8
812,3742,NaN,NaN,27
813,3746,NaN,NaN,5
814,3749,NaN,NaN,4
815,3752,NaN,NaN,2
816,3753,NaN,NaN,229
817,3754,NaN,NaN,19
818,3757,NaN,NaN,27
819,3767,NaN,NaN,3
820,3771,NaN,NaN,3
821,3772,NaN,NaN,122
822,3781,NaN,NaN,7
823,3789,NaN,NaN,15
824,3790,NaN,NaN,12
825,3798,NaN,NaN,3
826,3799,NaN,NaN,2

In [51]:
dump_api_project_no_overlap = api_result_df.loc[api_result_df['project_id'].isin(project_df['project_id'])]

,id,project_id,user_id,workflow_id,annotations,created_at,user_group_id,completed,gold_standard,expert_classifier,metadata,workflow_version,lifecycled_at
7542,10039982,376,429088.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-22 15:50:06.331265,2016-02-22 15:50:06.394891,t,NaN,NaN,"{""started_at"": ""2016-02-22T15:40:59+00:00"", ""u...",10.14,2016-02-22 15:50:06.386525
9130,9201103,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-14 23:00:59.02662,2016-01-14 23:00:59.066003,t,NaN,NaN,"{""started_at"": ""2016-01-14T23:00:50+00:00"", ""u...",10.14,2016-01-14 23:00:59.060559
9488,16586105,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-09-02 15:29:53.516373,2016-09-02 15:29:53.611471,t,NaN,NaN,"{""started_at"": ""2016-09-02T08:33:54-05:00"", ""u...",10.14,2016-09-02 15:29:53.601631
9495,9201087,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 23:00:49.684417,2016-01-14 23:00:49.750928,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:53:10+00:00"", ""u...",10.14,2016-01-14 23:00:49.742751
11824,10865263,376,1872.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-28 23:58:42.999494,2016-03-28 23:58:43.111937,t,NaN,NaN,"{""started_at"": ""2016-03-29T00:13:11+01:00"", ""u...",10.14,2016-03-28 23:58:43.098303
14989,7038566,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-13 13:38:02.659125,2016-01-13 13:38:22.765964,t,NaN,NaN,"{""started_at"": ""2016-01-13T13:37:56+00:00"", ""u...",10.14,2016-01-13 13:38:22.760548
17852,7038448,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:37:56.125778,2016-01-13 13:38:16.740468,t,NaN,NaN,"{""started_at"": ""2016-01-13T13:37:09+00:00"", ""u...",10.14,2016-01-13 13:38:16.731273
25411,7040252,376,184141.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:39:38.419139,2016-01-13 13:39:39.900211,t,NaN,NaN,"{""started_at"": ""2016-01-13T07:39:14-05:00"", ""u...",10.14,2016-01-13 13:39:39.878809
31745,11738394,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-04-27 01:57:26.641504,2016-04-27 01:57:26.716699,t,NaN,NaN,"{""started_at"": ""2016-04-26T21:57:16-04:00"", ""u...",10.14,2016-04-27 01:57:26.701854
35214,12943503,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:07:25.413415,2016-06-02 16:07:25.46284,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:06:52-05:00"", ""u...",10.14,2016-06-02 16:07:25.458171
41917,12943526,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:09:11.919586,2016-06-02 16:09:11.96943,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:09:03-05:00"", ""u...",10.14,2016-06-02 16:09:11.956109
42738,12943518,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:08:29.877669,2016-06-02 16:08:29.955093,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:08:13-05:00"", ""u...",10.14,2016-06-02 16:08:29.940036
55636,10257157,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-02 22:33:53.106877,2016-03-02 22:33:53.21614,t,NaN,NaN,"{""started_at"": ""2016-03-02T22:12:36+00:00"", ""u...",10.14,2016-03-02 22:33:53.207215
76561,10117800,376,520397.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-26 06:43:58.39252,2016-02-26 06:43:58.457163,t,NaN,NaN,"{""started_at"": ""2016-02-26T17:06:35+11:00"", ""u...",10.14,2016-02-26 06:43:58.450169
78470,9201890,376,360364.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 23:07:44.384984,2016-01-14 23:07:44.455192,t,NaN,NaN,"{""started_at"": ""2016-01-14T14:54:07-08:00"", ""u...",10.14,2016-01-14 23:07:44.44595
80956,10266368,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 14:01:22.521425,2016-03-03 14:01:22.582668,t,NaN,NaN,"{""started_at"": ""2016-03-03T14:01:18+00:00"", ""u...",10.14,2016-03-03 14:01:22.578242
88703,7040702,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:40:02.517367,2016-01-13 13:40:03.635096,t,NaN,NaN,"{""started_at"": ""2016-01-13T13:39:33+00:00"", ""u...",10.14,2016-01-13 13:40:03.627494
94206,10276090,376,448862.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 18:56:19.815758,2016-03-03 18:56:19.865018,t,NaN,NaN,"{""started_at"": ""2016-03-03T10:08:57-06:00"", ""u...",10.14,2016-03-03 18:56:19.852496
97796,12944047,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-06-02 16:37:42.440091,2016-06-02 16:37:42.47908,t,NaN,NaN,"{""started_at"": ""2016-06-02T11:37:30-05:00"", ""u...",10.14,2016-06-02 16:37:42.474381
102126,10294521,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:57:00.536466,2016-03-04 15:57:00.556995,t,NaN,NaN,"{""started_at"": ""2016-03-02T11:19:56-05:00"", ""u...",10.14,2016-03-04 15:57:00.552524
102137,10294532,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:57:43.885261,2016-03-04 15:57:43.968032,t,NaN,NaN,"{""started_at"": ""2016-03-04T15:25:00+00:00"", ""u...",10.14,2016-03-04 15:57:43.951035
104902,11117699,376,1462825.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-08 21:14:39.802299,2016-04-08 21:14:39.973018,t,NaN,NaN,"{""started_at"": ""2016-04-08T23:07:47+02:00"", ""u...",10.14,2016-04-08 21:14:39.941049
111918,10127602,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-26 17:41:48.559938,2016-02-26 17:41:48.592424,t,NaN,NaN,"{""started_at"": ""2016-02-26T17:42:44+00:00"", ""u...",10.14,2016-02-26 17:41:48.587814
112045,10155436,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-28 06:37:00.086328,2016-02-28 06:37:00.107956,t,NaN,NaN,"{""started_at"": ""2016-02-27T21:36:15-09:00"", ""u...",10.14,2016-02-28 06:37:00.102719
112313,10127675,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-02-26 17:45:12.012751,2016-02-26 17:45:12.045193,t,NaN,NaN,"{""started_at"": ""2016-02-26T17:46:29+00:00"", ""u...",10.14,2016-02-26 17:45:12.040049
119559,7041710,376,184141.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:40:52.896537,2016-01-13 13:40:54.349815,t,NaN,NaN,"{""started_at"": ""2016-01-13T08:39:45-05:00"", ""u...",10.14,2016-01-13 13:40:54.341884
120094,10263001,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 06:21:31.669375,2016-03-03 06:21:31.700283,t,NaN,NaN,"{""started_at"": ""2016-03-03T19:21:23+13:00"", ""u...",10.14,2016-03-03 06:21:31.695675
121174,10263021,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-03 06:22:57.12533,2016-03-03 06:22:57.152247,t,NaN,NaN,"{""started_at"": ""2016-03-03T19:21:54+13:00"", ""u...",10.14,2016-03-03 06:22:57.147672
121866,11260154,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-13 10:44:02.342709,2016-04-13 10:44:02.411767,t,NaN,NaN,"{""started_at"": ""2016-04-12T12:53:04+01:00"", ""u...",10.14,2016-04-13 10:44:02.39304
123191,6299120,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-12 23:21:37.370801,2016-01-12 23:21:37.425802,t,NaN,NaN,"{""started_at"": ""2016-01-12T23:17:16+00:00"", ""u...",10.14,2016-01-12 23:21:37.418013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26022212,10199248,376,864372.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 22:46:36.183743,2016-02-29 22:46:36.223542,t,NaN,NaN,"{""started_at"": ""2016-02-29T22:46:01+00:00"", ""u...",10.14,2016-02-29 22:46:36.219049
26023067,10199328,376,864372.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 22:48:52.285014,2016-02-29 22:48:52.338874,t,NaN,NaN,"{""started_at"": ""2016-02-29T22:48:04+00:00"", ""u...",10.14,2016-02-29 22:48:52.334431
26026389,11066414,376,401976.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-06 23:38:48.944979,2016-04-06 23:38:49.003417,t,NaN,NaN,"{""started_at"": ""2016-04-06T18:38:03-05:00"", ""u...",10.14,2016-04-06 23:38:48.998709
26028162,10039995,376,429088.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-22 15:50:37.40907,2016-02-22 15:50:37.454681,t,NaN,NaN,"{""started_at"": ""2016-02-22T15:50:10+00:00"", ""u...",10.14,2016-02-22 15:50:37.449259
26030238,10039132,376,3697.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-22 14:15:57.852145,2016-02-22 14:15:57.895975,t,NaN,NaN,"{""started_at"": ""2016-02-22T08:13:04-06:00"", ""u...",10.14,2016-02-22 14:15:57.890734
26038568,6164746,376,1423659.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-12 22:08:19.647734,2016-01-12 22:08:20.632179,t,NaN,NaN,"{""started_at"": ""2016-01-12T17:12:13+13:00"", ""u...",10.14,2016-01-12 22:08:20.49098
26056661,10859273,376,637593.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-28 17:30:52.837791,2016-03-28 17:30:52.942615,t,NaN,NaN,"{""started_at"": ""2016-03-28T18:17:16+01:00"", ""u...",10.14,2016-03-28 17:30:52.930947
26060336,11146551,376,1872.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-09 20:41:36.675456,2016-04-09 20:41:36.735472,t,NaN,NaN,"{""started_at"": ""2016-04-09T21:40:33+01:00"", ""u...",10.14,2016-04-09 20:41:36.72977
26061494,10199798,376,864372.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 23:03:31.434147,2016-02-29 23:03:31.476871,t,NaN,NaN,"{""started_at"": ""2016-02-29T23:02:44+00:00"", ""u...",10.14,2016-02-29 23:03:31.472261
26061598,9200301,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 22:53:55.510993,2016-01-14 22:53:55.546067,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:32:04+00:00"", ""u...",10.14,2016-01-14 22:53:55.541042
26064641,6178406,376,322786.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-12 22:17:11.315386,2016-01-12 22:17:56.122625,t,NaN,NaN,"{""started_at"": ""2016-01-08T09:52:27+00:00"", ""u...",10.14,2016-01-12 22:17:55.993353
26065067,10510784,376,352990.0,205,"[{""task"": ""T0"", ""value"": true}]",2016-03-13 13:49:24.382573,2016-03-13 13:49:24.435829,t,NaN,NaN,"{""started_at"": ""2016-03-13T13:48:49+00:00"", ""u...",10.14,2016-03-13 13:49:24.430205
26066591,9200345,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-14 22:54:14.289644,2016-01-14 22:54:14.343538,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:54:08+00:00"", ""u...",10.14,2016-01-14 22:54:14.338183
26067607,9200327,376,360364.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 22:54:05.284161,2016-01-14 22:54:05.351707,t,NaN,NaN,"{""started_at"": ""2016-01-14T14:38:47-08:00"", ""u...",10.14,2016-01-14 22:54:05.342218
26067629,9200328,376,NaN,205,"[{""task"": ""T0"", ""value"": true}]",2016-01-14 22:54:06.780179,2016-01-14 22:54:06.852938,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:53:57+00:00"", ""u...",10.14,2016-01-14 22:54:06.847266
26071595,9201390,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 23:03:38.091743,2016-01-14 23:03:38.150129,t,NaN,NaN,"{""started_at"": ""2016-01-14T16:05:52+00:00"", ""u...",10.14,2016-01-14 23:03:38.139097
26084187,9200849,376,1312.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-14 22:58:55.423551,2016-01-14 22:58:55.467775,t,NaN,NaN,"{""started_at"": ""2016-01-14T22:46:14+00:00"", ""u...",10.14,2016-01-14 22:58:55.462687
26087984,6742696,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 07:44:06.098025,2016-01-13 07:44:06.147847,t,NaN,NaN,"{""started_at"": ""2016-01-13T15:43:48+08:00"", ""u...",10.14,2016-01-13 07:44:06.141493
26091284,10870366,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-29 09:02:06.704824,2016-03-29 09:02:06.771395,t,NaN,NaN,"{""started_at"": ""2016-03-29T10:01:27+01:00"", ""u...",10.14,2016-03-29 09:02:06.765609
26095100,6742751,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 07:44:18.425844,2016-01-13 07:44:18.461651,t,NaN,NaN,"{""started_at"": ""2016-01-13T15:44:08+08:00"", ""u...",10.14,2016-01-13 07:44:18.457071
26099076,7037554,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 13:37:09.455177,2016-01-13 13:37:09.796743,t,NaN,NaN,"{""started_at"": ""2016-01-13T12:58:58+00:00"", ""u...",10.14,2016-01-13 13:37:09.78835
26099440,10177080,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 07:51:01.763992,2016-02-29 07:51:01.867029,t,NaN,NaN,"{""started_at"": ""2016-02-29T07:50:56+00:00"", ""u...",10.14,2016-02-29 07:51:01.848602
26100805,10177195,376,1386627.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 08:00:00.847193,2016-02-29 08:00:00.903271,t,NaN,NaN,"{""started_at"": ""2016-02-29T07:59:26+00:00"", ""u...",10.14,2016-02-29 08:00:00.898485
26101336,10177838,376,539625.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-02-29 09:17:30.048889,2016-02-29 09:17:30.159581,t,NaN,NaN,"{""started_at"": ""2016-02-29T19:25:33+11:00"", ""u...",10.14,2016-02-29 09:17:30.140565
26103512,11113639,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-04-08 19:48:02.672252,2016-04-08 19:48:02.724346,t,NaN,NaN,"{""started_at"": ""2016-04-08T14:45:19-05:00"", ""u...",10.14,2016-04-08 19:48:02.718015
26104249,6742586,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-01-13 07:43:45.461266,2016-01-13 07:43:45.497171,t,NaN,NaN,"{""started_at"": ""2016-01-13T15:36:03+08:00"", ""u...",10.14,2016-01-13 07:43:45.492112
26107730,15016395,376,720118.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-08-08 13:32:26.657395,2016-08-08 13:32:26.721172,t,NaN,NaN,"{""started_at"": ""2016-08-08T14:30:21+01:00"", ""u...",10.14,2016-08-08 13:32:26.715171
26108601,10294539,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:58:00.347315,2016-03-04 15:58:00.466559,t,NaN,NaN,"{""started_at"": ""2016-03-04T15:57:52+00:00"", ""u...",10.14,2016-03-04 15:58:00.46193
26110437,10294576,376,NaN,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-03-04 15:59:23.566605,2016-03-04 15:59:23.598129,t,NaN,NaN,"{""started_at"": ""2016-03-04T15:59:20+00:00"", ""u...",10.14,2016-03-04 15:59:23.593518
26112789,12232060,376,832664.0,205,"[{""task"": ""T0"", ""value"": false}, {""task"": ""T2""...",2016-05-13 20:53:57.964942,2016-05-13 20:53:58.061066,t,NaN,NaN,"{""started_at"": ""2016-05-13T22:52:41+02:00"", ""u...",10.14,2016-05-13 20:53:58.053732

In [24]:
api_result_df.groupby('project_name')['project_name'].count().to_frame('count').sort_values('count',ascending=False)

                                                    count
project_name
Microplants                                             4
Test                                                    3
Fauna Survey North East NSW with ABC North Coas...      2
Snapshots at Sea                                        2
Fossil Finder                                           2
GAMA Zoo                                                2
Space Warps                                             2
Galaxy Zoo                                              2
Galaxy Zoo - Mergers                                    2
Solar Stormwatch                                        2
Galaxy Zoo: 3D                                          2
Steller Watch                                           2
Galaxy Zoo: Bar Lengths                                 2
Snapshot Supernova                                      2
Snapshot Serengeti                                      2
Sleep Scoring                                           2
Simple Test Project                                     2
Shakespeare's World                                     2
Serengeti Wildebeest Count                              2
Gravity Generator                                       2
Stardate M83                                            2
Fishing for Drugs for Heart Disease                     2
Season Spotter Image Marking                            2
Finding more about the Big Bang                         2
The Ronald M. and Dianne J. Bernier Archive             2
Diagnosis London                                        2
Digital Skies                                           2
Dion island emperors                                    2
Drivers and barriers                                    2
Drop Bear Trackr                                        2
...                                                   ...
GZ2Redo--Take2!                                         1
Freehand Tools Test                                     1
Fragmental thinking                                     1
Fonds Robichon                                          1
Focus on Wildlife -- Cleveland Metroparks               1
Floating Forests                                        1
Floating Forest Relaunch                                1
Flare Identification                                    1
Flare Detective                                         1
Finding lost towns of the Indus civilisation            1
Finding Feral Cats A Home                               1
Galaxy Zoo for Schools Outreach                         1
Galaxy Zoo in Astronomy 101                             1
Galaxy Zoo: star or wrong sized image of galaxy?        1
Guiana Gold Mining Watch                                1
Image Categorization                                    1
Identifying Cyberbullying: What would you do ab...      1
Ice Hunters                                             1
Humpbacks and High-Rises                                1
HuMaIN                                                  1
HSC Supernova Hunting                                   1
Greater sage-grouse lek behaviors                       1
Galaxy classification                                   1
Gravity Spy - 222 Seismic                               1
Gravity Spy                                             1
Gold Rush                                               1
Golan Wildlife                                          1
Getting Texty                                           1
Galaxy lookout                                          1
ÐŸÑ€Ð¾Ð±Ð½Ñ‹Ð¹ Ð¿Ñ€Ð¾ÐµÐºÑ‚                                          1

[368 rows x 1 columns]

In [29]:
api_result_df

,api_classificaitons_count,api_subject_count,completeness,description,launch_date,live,migrated,project_id,project_name
0,29859,0,None,Galaxy Zoo - Supernova,2010-03-26T19:25:48.000Z,True,True,25,Galaxy Zoo - Supernova
0,439,30,0,Classify cats. On the internet. For science.,None,False,False,4,Kitteh Zoo
0,11854,38089,0.489721,Help planetary scientists characterize surface...,2015-06-30T00:00:00.000Z,True,False,17,Planet Four: Terrains
0,128397,0,None,Find planets around stars. Lightcurve changes ...,2010-12-16T00:00:00.000Z,True,True,26,Planet Hunters
0,88547,0,None,Explore the surface of the Moon. We hope to st...,2010-05-11T00:00:00.000Z,True,True,22,Moon Zoo
0,0,0,0,Keep an eye on changing seasons!,None,False,False,18,Season Spotter BASIC Beta1
0,19265,0,None,Galaxy Zoo - Mergers,2009-11-23T13:48:45.000Z,True,True,24,Galaxy Zoo - Mergers
0,4464,74599,0.00010724,"Help in the hunt for supernovae, live!",2015-03-19T00:00:00.000Z,False,False,1,Snapshot Supernova
0,2636,5821,0.884513,Explore collective intelligence in wildebeest!,2015-06-30T00:00:00.000Z,True,False,6,Wildebeest Watch
0,11235,0,None,Ice Hunters,2011-08-09T00:00:00.000Z,True,True,29,Ice Hunters
0,53813,0,None,Study explosions on the Sun. Explore interacti...,2010-02-22T00:00:00.000Z,True,True,23,Solar Stormwatch
0,55433,0,None,How do stars form? Help us find and draw circl...,2010-12-07T00:00:00.000Z,True,True,27,Milky Way Project
0,80,108,0,Help discover new physics with the MoEDAL expe...,None,False,False,20,Monopole Quest!
0,210815,0,None,Help us discover the secrets of galaxy evoluti...,2007-07-11T00:00:00.000Z,True,True,21,Galaxy Zoo
0,5059,5190,1,Measure the engines of evolution in disk galax...,2015-06-30T00:00:00.000Z,True,False,3,Galaxy Zoo: Bar Lengths
0,7229,6185,0.899111,Help us identify individual Humpback Whales by...,2015-06-30T00:00:00.000Z,True,False,11,Whales as Individuals
0,5413,5643,0.786107,Help scientists identify Marine Mammals,2015-12-22T00:00:00.000Z,True,False,14,Snapshots at Sea
0,28141,0,None,Model Earth's climate using historic ship logs...,2010-10-12T00:00:00.000Z,True,True,28,Old Weather
0,68,3003,0,Do what we did before.,None,False,False,10,GZ2Redo--Take2!
0,0,0,0,Keep an eye on changing seasons!,None,False,False,19,Season Spotter DETAILS Beta1
0,3169,0,None,You're hot on the trail of bats! Help scientis...,2012-10-02T00:00:00.000Z,True,True,37,Bat Detective
0,6631,0,None,Match growing black holes to their jets. We ne...,2013-12-17T00:00:00.000Z,True,True,47,Radio Galaxy Zoo
0,11197,0,None,Classify over 30 years of tropical cyclone dat...,2012-09-27T00:00:00.000Z,True,True,36,Cyclone Center
0,1187,0,None,Stardate M83,2013-10-01T00:00:00.000Z,True,True,49,Stardate M83
0,9321,0,None,Dive into the planktonic world. No plankton me...,2013-09-17T00:00:00.000Z,True,True,46,Plankton Portal
0,59944,0,None,SETI Live,2012-02-29T00:00:00.000Z,True,True,33,SETI Live
0,26949,0,None,Study the lives of ancient Greeks. The data yo...,2011-07-25T00:00:00.000Z,True,True,30,Ancient Lives
0,10260,0,None,Andromeda Project,2012-12-05T00:00:00.000Z,False,True,39,Andromeda Project
0,0,0,None,Microplants,2013-06-30T00:00:00.000Z,True,True,44,Microplants
0,13843,0,None,Explore soldiers' diaries from the First World...,2014-01-14T00:00:00.000Z,True,True,48,Operation War Diary
...,...,...,...,...,...,...,...,...,...
0,15,190,0.236842,Help us study images from the international sp...,None,True,False,2911,Is that an alien?
0,27,917,0.0152672,Season Spotter for the Jornada site,None,True,False,2384,Season Spotter Jornada
0,228,3829,0.00731261,Spot the difference... on the surface of Mars!,None,True,False,2739,Mars in Motion
0,19265,0,None,Galaxy Zoo - Mergers,2009-11-23T13:48:45.000Z,True,True,24,Galaxy Zoo - Mergers
0,102,22013,0.491982,Planet Hunters Round 2 Vetting of M-dwarf Star...,None,True,False,2731,Planet Hunters Round 2
0,5,6012,1,The interface for checking the candidates in H...,None,True,False,3538,Centaur Heaven
0,32470,0,None,Spy on penguins for science. Tag penguins in r...,2014-09-17T00:00:00.000Z,True,True,55,Penguin Watch
0,0,2,0,Exploring a potential new glitch class: 222 Se...,None,False,False,3373,Gravity Spy - 222 Seismic
0,0,8,0,Low Surface Brightness,None,False,False,3168,LSST Example Project
0,7,500,0.01,Spot spirals in distant galaxies!,None,True,False,4256,Spiral Spotter
0,34,19,0,Description of project,None,False,False,1900,AMT_proj_09
0,0,0,None,This project is about what happens to living t...,None,True,False,1939,Winter Human Health
0,1,13,0,Help making these document accessable to milli...,None,False,False,2172,Classification mission!
0,2,24,0,A test of the transcription tools in Zooniverse,None,False,False,2711,Exeter Test Transcription Project
0,0,47,0,Images scanned by Portsmouth Public Library,None,False,False,4132,"Portsmouth Public Library, Virginia Collection"
0,28627,0,None,Analyse real life cancer data. You can help sc...,2012-10-23T00:00:00.000Z,True,True,38,Cell Slider
0,1,60,0,"El uso de un lenguaje cotidiano incorrecto, di...",None,False,False,832,ComunicaciÃ³n cotidiana como dificultador del a...
0,1,219,0,Spot the memes!,None,False,False,2921,/b/
0,1,14,0,proof of concept,None,False,False,2274,LOTS OF CATS
0,37,19,0,Description of project,None,False,False,1893,AMT_proj_02
0,0,0,None,Une vie ailleurs,None,False,False,2802,Projet exo
0,1,121,0,Observing Earth from a new perspective - what ...,None,False,False,4503,RAD Views
0,1,56,1,Test project,None,True,False,4237,Test
0,0,0,0,An example project drawn from Kitteh Zoo data,None,False,False,3944,Kittens for AkLA
0,0,0,None,JUST TO TALK ABOUT CELLS,None,True,False,4567,Cells
0,0,9,0,Find ancient Indus settlement in aerial photog...,None,False,False,3845,Finding lost towns of the Indus civilisation
0,4699,38800,1,Help us contribute towards making computers un...,2016-07-21T00:00:00.000Z,True,False,2714,Understanding Animal Faces
0,5,15,0,Identify keywords for our open access research,None,False,False,2889,Research Classification
0,0,0,None,We are working for providing best dissertation...,None,True,False,3385,Dissertation Help
0,0,10,0,Fonds du photographe Robert Robichon : plaques...,None,False,False,4016,Fonds Robichon