In [2]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
matplotlib.style.use('ggplot')

import requests
import json

In [79]:
# specify data directory and file
panoptes_data_file = '/srv/zooniverse/tables/panoptes_classification_table_100000.csv'
# read csv file of panoptes classifications
panoptes_classification_df = pd.read_csv(panoptes_data_file,dtype={'user_id':object})
# convert 'created_at' to datetime object
panoptes_classification_df['created_at'] = pd.to_datetime(panoptes_classification_df['created_at'])

In [80]:
# specify data directory and file
ouroboros_data_file = '/srv/zooniverse/tables/ouroboros_classification_table_100000.csv'
# read csv file of ouroboros classifications
ouroboros_classification_df = pd.read_csv(ouroboros_data_file)
# convert 'created_at' to datetime object
ouroboros_classification_df['created_at'] = pd.to_datetime(ouroboros_classification_df['created_at'])

In [81]:
# specify project table file
project_table_file = '/srv/zooniverse/tables/all_projects_table_05-19-17.csv'
# load project table
project_df = pd.read_csv(project_table_file)

In [82]:
# mark all classifications from the panoptes dump
panoptes_classification_df['panoptes_dump'] = 1
# mark all classifications in the ouroboros dump
ouroboros_classification_df['ouroboros_dump'] = 1
# make a df containing only projects found in the API
api_projects = project_df.loc[project_df['panoptes_api'] == 1]

In [83]:
# mark all classifications in the panoptes API == 1
panoptes_classification_df.loc[panoptes_classification_df['project_id'].isin(api_projects['panoptes_project_id']),'panoptes_api'] = 1
panoptes_classification_df.loc[~panoptes_classification_df['project_id'].isin(api_projects['panoptes_project_id']),'panoptes_api'] = 0

In [84]:
print(len(panoptes_classification_df.loc[panoptes_classification_df['panoptes_api'] == 1]))
print(len(panoptes_classification_df.loc[panoptes_classification_df['panoptes_api'] == 0]))
assert(len(panoptes_classification_df.loc[panoptes_classification_df['panoptes_api'] == 1]) + len(panoptes_classification_df.loc[panoptes_classification_df['panoptes_api'] == 0]) == len(panoptes_classification_df))

99972
27

In [85]:
ouroboros_classification_df = ouroboros_classification_df.rename(columns={'project_id':'ouroboros_mongo_id'})

In [86]:
ouroboros_classification_df = ouroboros_classification_df.merge(project_df[['ouroboros_mongo_id','panoptes_project_id','panoptes_project_name']],on='ouroboros_mongo_id')

In [87]:
ouroboros_classification_df.loc[ouroboros_classification_df['panoptes_project_id'].isin(api_projects['panoptes_project_id']),'panoptes_api'] = 1
ouroboros_classification_df.loc[~ouroboros_classification_df['panoptes_project_id'].isin(api_projects['panoptes_project_id']),'panoptes_api'] = 0

In [88]:
print(len(ouroboros_classification_df.loc[ouroboros_classification_df['panoptes_api'] == 0]))
print(len(ouroboros_classification_df.loc[ouroboros_classification_df['panoptes_api'] == 1]))
assert(len(ouroboros_classification_df.loc[ouroboros_classification_df['panoptes_api'] == 1]) + len(ouroboros_classification_df.loc[ouroboros_classification_df['panoptes_api'] == 0]) == len(ouroboros_classification_df))

0
99999

In [89]:
panoptes_classification_df = panoptes_classification_df[['id', 'project_id', 'user_id','created_at','panoptes_dump','panoptes_api']]
panoptes_classification_df = panoptes_classification_df.rename(columns={'id':'classification_id','project_id':'panoptes_project_id'})

In [90]:
ouroboros_classification_df = ouroboros_classification_df[['_id','created_at','user_name','tutorial','panoptes_project_id','ouroboros_dump','panoptes_api']]
ouroboros_classification_df = ouroboros_classification_df.rename(columns={'_id':'classification_id','user_name':'user_id'})

In [91]:
result_df = ouroboros_classification_df.append(panoptes_classification_df)

In [96]:
print(len(result_df.loc[result_df['panoptes_dump'].isnull(),'panoptes_dump']))
print(len(result_df.loc[result_df['panoptes_dump'].notnull(),'panoptes_dump']))

99999
99999

In [97]:
result_df.loc[result_df['panoptes_dump'].isnull(),'panoptes_dump'] = 0
result_df.loc[result_df['ouroboros_dump'].isnull(),'ouroboros_dump'] = 0

In [98]:
result_df

,classification_id,created_at,ouroboros_dump,panoptes_api,panoptes_dump,panoptes_project_id,tutorial,user_id
0,ObjectId(51cda78539ea5359880157dd),2013-06-28 15:12:43.000000,1.0,1.0,0.0,45.0,NaN,not-logged-in-28963be9ac14771d8e69c078e6297c79
1,ObjectId(51d0983b501e7e2e3a005a30),2013-06-30 20:40:42.000000,1.0,1.0,0.0,45.0,NaN,tinkapuppy
2,ObjectId(51d1c18239ea532e4b018547),2013-07-01 17:52:54.000000,1.0,1.0,0.0,45.0,NaN,salomehuiyi
3,ObjectId(51d29cc9501e7e1b43007306),2013-07-02 09:24:34.000000,1.0,1.0,0.0,45.0,True,not-logged-in-9af3f0a1c12f3d1f08053849a8669f96
4,ObjectId(51d31c0939ea530c6000a1cc),2013-07-02 18:29:29.000000,1.0,1.0,0.0,45.0,True,heathv
5,ObjectId(51d3252939ea530c6000a736),2013-07-02 19:10:25.000000,1.0,1.0,0.0,45.0,NaN,not-logged-in-79f41632578c8aa60516184b83af5d8b
6,ObjectId(51d325ca501e7e1b4300c470),2013-07-02 19:11:06.000000,1.0,1.0,0.0,45.0,NaN,not-logged-in-79f41632578c8aa60516184b83af5d8b
7,ObjectId(51d3faaa39ea530c60010b79),2013-07-03 10:21:25.000000,1.0,1.0,0.0,45.0,NaN,bumishness
8,ObjectId(51d416f639ea530c60011c7e),2013-07-03 12:22:09.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
9,ObjectId(51d41849501e7e1b430149c2),2013-07-03 12:23:42.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
10,ObjectId(51d41880501e7e1b430149d1),2013-07-03 12:26:40.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
11,ObjectId(51d41908501e7e1b43014a00),2013-07-03 12:26:53.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
12,ObjectId(51d41994501e7e1b43014a27),2013-07-03 12:29:13.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
13,ObjectId(51d41a3339ea530c60011d1e),2013-07-03 12:35:58.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
14,ObjectId(51d4242b39ea530c600121c6),2013-07-03 13:16:27.000000,1.0,1.0,0.0,45.0,NaN,arfon
15,ObjectId(51d42484501e7e1b4301503f),2013-07-03 13:15:53.000000,1.0,1.0,0.0,45.0,NaN,arfon
16,ObjectId(51d42562501e7e1b4301508e),2013-07-03 13:21:38.000000,1.0,1.0,0.0,45.0,NaN,bumishness
17,ObjectId(51d4274439ea530c600122cc),2013-07-03 13:29:40.000000,1.0,1.0,0.0,45.0,True,jatorre
18,ObjectId(51d4289639ea530c600122ef),2013-07-03 13:37:21.000000,1.0,1.0,0.0,45.0,NaN,Cartogis
19,ObjectId(51d4290439ea530c6001230e),2013-07-03 13:39:12.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
20,ObjectId(51d4293339ea530c6001231a),2013-07-03 13:39:58.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
21,ObjectId(51d4294639ea530c6001231e),2013-07-03 13:38:13.000000,1.0,1.0,0.0,45.0,NaN,the_t-man
22,ObjectId(51d4299039ea530c60012336),2013-07-03 13:39:28.000000,1.0,1.0,0.0,45.0,NaN,aexbrown
23,ObjectId(51d429a839ea530c6001233b),2013-07-03 13:39:52.000000,1.0,1.0,0.0,45.0,True,not-logged-in-012dcdd54d5b2e9468617f6a1a311be9
24,ObjectId(51d42a25501e7e1b43015209),2013-07-03 13:39:54.000000,1.0,1.0,0.0,45.0,True,not-logged-in-119772be3170801dccae43278e5f1044
25,ObjectId(51d42a36501e7e1b4301521a),2013-07-03 13:42:14.000000,1.0,1.0,0.0,45.0,NaN,the_t-man
26,ObjectId(51d42aa4501e7e1b4301523a),2013-07-03 13:42:01.000000,1.0,1.0,0.0,45.0,NaN,the_t-man
27,ObjectId(51d42ac1501e7e1b43015242),2013-07-03 13:42:29.000000,1.0,1.0,0.0,45.0,NaN,not-logged-in-6be29eef22ec1a799ffc360407f774df
28,ObjectId(51d42bb6501e7e1b43015279),2013-07-03 13:48:38.000000,1.0,1.0,0.0,45.0,True,Crystalbio
29,ObjectId(51d42bdc501e7e1b4301528d),2013-07-03 13:49:16.000000,1.0,1.0,0.0,45.0,NaN,Crystalbio
...,...,...,...,...,...,...,...,...
99969,6278500,2016-01-12 23:17:58.413210,0.0,1.0,1.0,764.0,NaN,1429148
99970,6278740,2016-01-12 23:18:01.872484,0.0,1.0,1.0,764.0,NaN,1429017
99971,6281575,2016-01-12 23:18:35.589440,0.0,1.0,1.0,764.0,NaN,1427222
99972,6284440,2016-01-12 23:19:07.889862,0.0,1.0,1.0,764.0,NaN,1427714
99973,6285065,2016-01-12 23:19:14.440099,0.0,1.0,1.0,764.0,NaN,1428883
99974,6286696,2016-01-12 23:19:32.549011,0.0,1.0,1.0,764.0,NaN,1428178
99975,6288191,2016-01-12 23:19:48.745483,0.0,1.0,1.0,764.0,NaN,521777
99976,6288572,2016-01-12 23:19:52.552755,0.0,1.0,1.0,764.0,NaN,708402
99977,6288794,2016-01-12 23:19:54.813988,0.0,1.0,1.0,764.0,NaN,868
99978,6289173,2016-01-12 23:19:58.615444,0.0,1.0,1.0,764.0,NaN,1429071
99979,6278504,2016-01-12 23:17:58.451703,0.0,1.0,1.0,764.0,NaN,1427575
99980,6280710,2016-01-12 23:18:25.462763,0.0,1.0,1.0,764.0,NaN,NaN
99981,6283982,2016-01-12 23:19:02.839497,0.0,1.0,1.0,764.0,NaN,NaN
99982,6286692,2016-01-12 23:19:32.517231,0.0,1.0,1.0,764.0,NaN,NaN
99983,6288135,2016-01-12 23:19:48.048086,0.0,1.0,1.0,764.0,NaN,1429422
99984,6288311,2016-01-12 23:19:49.904046,0.0,1.0,1.0,764.0,NaN,1429163
99985,6288580,2016-01-12 23:19:52.648577,0.0,1.0,1.0,764.0,NaN,1427560
99986,6289212,2016-01-12 23:19:59.160575,0.0,1.0,1.0,764.0,NaN,1427741
99987,6289251,2016-01-12 23:19:59.689880,0.0,1.0,1.0,764.0,NaN,1428077
99988,6289311,2016-01-12 23:20:00.284088,0.0,1.0,1.0,764.0,NaN,1428777
99989,6294152,2016-01-12 23:20:49.255475,0.0,1.0,1.0,764.0,NaN,1427390
99990,6748047,2016-01-13 07:58:34.914338,0.0,1.0,1.0,764.0,NaN,1428115
99991,6278505,2016-01-12 23:17:58.469035,0.0,1.0,1.0,764.0,NaN,1428033
99992,6279107,2016-01-12 23:18:06.070676,0.0,1.0,1.0,764.0,NaN,1427478
99993,6281605,2016-01-12 23:18:35.853098,0.0,1.0,1.0,764.0,NaN,1429285
99994,6281788,2016-01-12 23:18:38.001151,0.0,1.0,1.0,764.0,NaN,1429319
99995,6284143,2016-01-12 23:19:04.669480,0.0,1.0,1.0,764.0,NaN,1428805
99996,6286711,2016-01-12 23:19:32.684108,0.0,1.0,1.0,764.0,NaN,1427998
99997,6286856,2016-01-12 23:19:34.094587,0.0,1.0,1.0,764.0,NaN,1427653
99998,6287267,2016-01-12 23:19:38.906926,0.0,1.0,1.0,764.0,NaN,1428005